.dropdown-menu-customer:hover,
.dropdown-toggle-customer:hover {
    cursor: pointer;
}

form .btn-primary {
    margin-right: 4px;
}

.list-inline-item:not(:last-child) {
    margin-right: 13px;
}

.filter-active {
    border-bottom: 1px solid red;
}

.list-inline-item {
    height: 40px;
}

.product-name {
    width: 150px;
    overflow: hidden;
    float: left;
    font-size: 14px;
    line-height: 18px;
    display: block;
}

.product-link {
    width: 150px;
    height: 15px;
    float: left;
    font-size: 14px;
    line-height: 15px;
    overflow: hidden;
}

.td-image {
    width: 270px;
}

.site-footer {
    padding-top: 20px;
}

.panel-delivery-address {
    border: 1px solid #2e3436;
    border-radius: 5px;
}

.panel-delivery-address .col-lg-2 {
    margin-top: 35px;
    padding-left: 35px;
}

.container-delivery-address {
    margin-top: 60px;
}

.modal-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.item-header-label {
    display: block;
}

.table-row-header {
    background: #343744;
    color: #b4b8bf;
    font-size: 15px;
}

.item-header {
    padding: 20px 20px;
    -webkit-font-smoothing: antialiased;
}

.table-footer {
    margin-bottom: 55px;
    font-size: 20px;
}

.total-order-item {
    padding-top: 8px;
}

.total-price {
    padding-top: 8px;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
    font-size: 11px;
}

.search-order {
    font-size: 13px !important;
}

.total-order {
    font-size: 16px;
}

.total-order-price {
    font-size: 16px;
}

.exchange-rate {
    color: #333;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.label-info {
    color: #483834;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;

}

.total-order-label {
    float: right;
    color: #483834;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
}

.total-order-price {
    float: right;
    clear: both;
    text-align: right;
    font-weight: 700;
    text-transform: uppercase;
    clear: both;
}

.send-order-button {
    clear: both;
}
.block-exchange-rate {
    font-size:20px;
}

.order-right-info {
    border-radius: 9px;
    padding-left: 30px;
    font-size:20px;
    text-align: right;
}

.detail-total-order {
    padding-bottom: 10px;
    padding-top:10px;
}
.detail-order-fee {
    padding-top: 10px;
    padding-bottom: 10px;
}

.order-left-info {
    width: 80%;
    border-radius: 9px;
    padding-right: 30px;
    font-size:20px
}
.order-top-right {
    font-size:14px;
}

#order-list {
    margin-top: 20px;
}
button {
    cursor: pointer;
}

.service-content {
    height: 100%;
}

/**
 * Popover feedback custom
 */
.bs-tether-element {
    min-width: 450px;
}

.popover-footer-feedback {
    padding-bottom: 15px;
}
.order-top-right span {
    display: block;
}.notification-header {
    height: 20px;
    border-bottom: 1px #0b0b0b;
}
.notification-body {
    height: auto;
    padding-top: 20px;
}
.notification-item {
    display: inline-flex;
}
.notification-text {
    padding-right: 40px;
}
.page-navigation .pagination > li > a:hover, .page-navigation .pagination > li.active > a {
    background-color: #ff0000;
    color: #fff;
    border-color: #ff0000;
}
.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-error .invalid-feedback {
    color: #a94442;
}
.pagination.pagination-order >li>a, .pagination.pagination-order >li>span { border-radius: 50% !important;margin: 0 5px;}

.blog-content h3 {
    min-height: 45px;
}

.single-blog-details div:nth-child(1) {
    text-align: center;
}

.img-fluid {
    max-width:100%;
    height: 200px;
    object-fit: contain;
}

.input-group-search {
    max-height: 32px;
}

.btn-list-order, .btn-shipping-order {
    margin-left: 3px;
}

.js-get-verify-code {
    cursor: pointer;
}

.top-contact i.fa {
    color: #ffffff;
    margin-right: 6px;
}

.newsletter {
    margin-top: 0px;
    width: 300px;
    margin-left: 70px;
}

.newsletter .news-btn {
    font-size: 16px;
}

.newsletter .js-site-search {
    color: #fff;
    background-color: #ff0000;
    width: 88px;
    height: 100%;
    position: absolute;
    left: -74px;
    border: 0px;
    border-radius: 3px 0px 0px 3px;
    font-size: 16px;
    top: 0px;
}
#progressbar li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 12px;
    width: 16%;
    float: left;
    position: relative;
    text-align: center;
}

.single-blog-details {
    max-width: 100%;
    word-wrap: break-word;
}

.owl-item {
    text-align: center;
}

.service-content h4:before {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #ff0000;
    display: block;
    width: 20%;
    left: 40%;
    bottom: -5px;
}

@media (max-width: 767px) {
    .text-xs-center {
        text-align: center !important;
    }
    .actions .prefix-btn{
        margin-right: 0px;
    }
    .top-contact a.btn-shipping-order{
        float: none;
        margin: auto;
        display: inline-block;
        margin-top: 15px;
    }
}
@media (min-width: 992px) {
    .total-price {
        float: right;
    }
    .total-order-item {
        float: left;
    }
    .detail-button {
        float: right;
    }
}

.order-details {
    border: 1px solid #e8e8e8;
}

.partners-container .col-lg-4 {
    text-align: center;
}

.partners-container img {
    width: 60%;
}

header {
    background-color: #ff0000;
}

.header-top-area {
    background-color: #f5f6f7;
}

.newsletter .news-input {
    background-color: #f5f6f7;
    height: 30px;
    border: 1px solid #ff0000;
    color: #211e1e;
}

.slicknav_hidden a {
    color: #ffffff;
}

.top-menu .dropdown ul li {
    display: block;
}

.top-menu ul li {
    display: inline-block;
    color: #ff0000;
}

.container .text-uppercase {
    padding-top: 15px;
}

.scrollup {
    bottom: 30px;
    right: 95px;
}

.mainmenu ul li a {
    color: #ffffff;
}

.footer-wiz ul.footer-contact li {
    color: #a7a7a7;
}

.scrollup:hover {
    background-color: #ff0000;
    color: #fff;
}

.mainmenu ul li a:hover {
    color: #ff0000;
}

.top-contact a {
    color: #ff0000;
    margin-right: 0px;
    font-size: 14px;
}

.top-contact i.fa-list,
.top-contact i.fa-truck,
.footer-wiz h3,
.top-menu i,
.top-menu ul li a,
.box-title .box-title-name span {
    color: #ff0000;
}

.group-section {
    padding: 30px 0;
}

.bg-gray {
    background: #f5f5f5;
}

.box-title {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.box-title .box-title-name {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #333;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    padding-bottom: 28px;
}

.service-index .title-service {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #999;
}

.service-index .icon-service {
    margin-bottom: 10px;
}

.service-index {
    text-align: center;
}

.service-index .number-service {
    margin: 0 auto 10px;
    width: 32px;
    height: 32px;
    text-align: center;
    color: #fff;
    background: #999;
    font-weight: 900;
    line-height: 32px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
    position: relative;
}

@media (min-width: 768px) {
    .border-service:after {
        content: "";
        height: 1px;
        background: #ff0000;
        position: absolute;
        left: 0;
        right: 0;
        width: calc(100% - 30px);
        top: 90px;
        margin-top: 70px;
    }

    .table-row-header {
        height: 75px;
        margin-top: -15px;
    }
}

.border-service a {
    text-decoration: none;
}

.service-index .title-service:hover {
    color: #ff0000;
}

.box-title .box-title-name:after {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    height: 9px;
    width: 150px;
    margin-left: -75px;
    border-top: 1px solid #ff0000;
}

.box-title .box-title-name:before {
    content: "";
    position: absolute;
    border-top: 9px solid #ff0000;
    border-left: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid transparent;
    left: 50%;
    bottom: -9px;
    width: 50px;
    margin-left: -25px;
}

.why-choose-us {
    margin-top: 0px;
}

.footer-wiz .newsletter {
    margin-top: 10px;
    margin-left: 0px;
}

@media (min-width: 1200px) {
    .box-content .column-left, .box-content .column-right {
        width: 380px;
        position: relative;
        z-index: 3;
    }
    .column-left .img-reason {
        float: right;
        margin-top: 10px;
    }
    .column-left .content-reason {
        margin-left: 0;
        margin-right: 80px;
        text-align: right;
    }
}

.box-content .grid {
    margin-top: 40px;
}

.img-reason img {
    max-width: 100%;
}

.content-reason-des {
    line-height: 20px;
}

.background-reason {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    text-align: center;
}

.img-reason {
    float: left;
    margin-top: 10px;
}

.content-reason {
    margin-left: 80px;
    margin-right: 0;
}

.content-reason-title h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

#transport-order-modal .modal-content {
    width: 140%;
    margin-left: -20%;
}

@media (max-width: 1024px) {
    .background-reason img {
        display: none;
    }

    #shipping-order-modal .modal-content {
        width: auto;
        margin-left: 0%;
    }
}

.input-group-search .btn-danger:hover {
    color: #ff0000;
    background-color: #ffffff;
    border-color: #ff0000;
}

.modal-info-order {
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 #967c7c;
    box-shadow: 0 3px 20px 0 #967c7c;
}

.form-control {
    font-size: 14px;
}

#shipping-order-modal textarea {
    max-height: 52px;
}

#modal-body-content {
    overflow-y: scroll;
    max-height: 500px;
}

.js-site-search {
    padding-left: 2px;
}

.receive-content {
    padding-left: 15px;
    margin-top: 10px;
}

.top-menu {
    white-space: nowrap;
    padding-right: 10px;
}

.product-qty {
    min-width: 120px;
}

.progress-bar {
    margin: -40px 0px 0px 35%;
}

.progress-bar li {
    margin-left: 20px;
}

.bolder {
    font-weight: 800;
}

@media (max-width: 425px) {
    .input-group-search {
        display: block;
        max-height: unset;
    }

    .input-group-search .newsletter {
        width: 100%;
        margin-left: 0px;
    }

    .newsletter .js-site-search {
        left: 0px;
    }

    .newsletter .news-input {
        padding-left: 90px;
    }

    .top-contact a {
        font-size: 12px;
        display: block;
        width: 50%;
        margin: 0px;
        float: left;
        white-space: nowrap;
    }

    .btn-list-order {
        width: 50%;
    }

    .newsletter {
        margin-bottom: 3px;
    }
}

@media (max-width: 325px) {
    .top-contact a span {
        display: none;
    }

    .top-contact a i {
        display: block;
    }
}

.transport-order-detail {
    width: 110px;
}

.transport-order-show .col-md-12 {
    -webkit-box-shadow: 0 1px 20px 0 #967c7c;
    box-shadow: 0 3px 15px 0 #967c7c;
    margin-top: 15px;
}

.transport-order-show .table-footer {
    margin-bottom: 30px;
    font-size: 20px;
}

.transport-order-show {
    margin-bottom: 30px;
}

.transport-order-show .table-responsive {
    margin-top: 20px;
}

.th-order-date {
    min-width: 140px;
}

.transport-order-sender-info, .transport-order-receive-info {
    min-width: 190px;
}

.purchase-order-show .col-md-12 {
    -webkit-box-shadow: 0 1px 20px 0 #967c7c;
    box-shadow: 0 3px 15px 0 #967c7c;
    margin-top: 15px;
}

.purchase-order-show .table-responsive {
    margin-top: 20px;
}

.owl-stage {
    margin: 0 auto;
}

.service-content h4 {
    min-height: 38px;
}
.inline-form {
    display: inline-block;
}

.payment-transfer-detail {
    margin-top: 20px;
}

@media (min-width: 1440px) {
    .box-content .second-left-grid {
        margin-top: 56px;
    }
}

.form-check-input {
    position: absolute;
    margin-top: .25rem;
     margin-left: 0rem;
}

.order-right-info .final-total-price {
    font-size: 25px;
}

.detail-total-order span:nth-child(1) {
    float: left;
}
.order-right-info .detail-order-fee span:nth-child(1) {
    float: left;
}

#admodal .close-popup {
    position: absolute;
    top: 15px;
    right: -15px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: block;
    height: 30px;
    width: 30px;
    background-color: #000000;
    text-align: center;
    z-index: 9999;
    border-radius: 50%;
    line-height: 30px;
    cursor: pointer;
}
.search-bar{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.top-contact {
    display: inline-block;
}
.inline-block{
    display: inline-block;
}