<template>
    <div>
        <table class="table">
            <tr>
                <th v-for="column in columns">{{ column.title }}</th>
            </tr>
            <tr v-for="user in users.data">
                <td v-for="column in columns">
                    {{ user[column.name] }}
                </td>
            </tr>
        </table>

        <vue-pagination  :pagination="users"
                         @paginate="getData()"
                         :offset="3">
        </vue-pagination>
    </div>
</template>

<script>
import axios from 'axios';
import VuePagination from './Pagination';
    export default {
        name: "Table",
        components: {
            VuePagination
        },
        props: ['url', 'columns'],
        data() {
            return {
                users: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
            }
        },
        mounted() {
            this.getData();
        },
        methods: {
            getData() {
                axios.get(`${this.url}?page=${this.users.current_page}`)
                    .then((response) => {
                        this.users = response.data;
                    })
                    .catch(() => {
                        alert('Có lỗi xảy ra, vui lòng thử lại sau');
                    });
            }
        }
    }
</script>

<style scoped>

</style>