.page-title .title_left {
    width : 80%;
}
.DTE_Header_Content {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.table.dataTable.no-footer {
    width: 100% !important;
}

.btn-table {
    margin-bottom: 20px;
}
a {
    color:blue;
}

.modal-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.DTE_Header_Content .sub-header {
    text-transform: none;
    font-size: 14px;
}

.js-menu-slide .child_menu {
    display: block;
}

.select2-results__option[aria-selected=true] {
    display: none;
}

.preview-image img {
    max-height: 200px;
    max-width: 200px;
}


.DTE_Form_Content .required .control-label::after {
    content: " *";
    color: red;
}

.DTE_Label_Info {
    display: none;
}

.DTE_Form_Content .control-label {
    text-align: left;
}

td.details-control {
    background: url('/img/details_open.png') no-repeat 50% 30%;
    cursor: pointer;
    width: 18px;
}
tr.shown td.details-control {
    background: url('/img/details_close.png') no-repeat 50% 30%;
}

.preview-table-img {
    max-width: 100px;
    max-height: 100px;
}

.discount-input {
    display: inline-table !important;
}

#confirm {
    z-index:1000000000;
}

body {
    font-family: 'Roboto', Arial, "Droid Sans", sans-serif;
}

.toggle a {
    color: rgb(38, 53, 68); !important;
}

.nav-sm .logo-lg {
    display: none;
}

.nav-sm .navbar.nav_title a span.logo-mini {
    display: block;
    padding-left: 10px;
}

.nav-md .navbar.nav_title a span.logo-mini {
    display: none;
}

.left_col, .navbar.nav_title {
    background: #404E67;
}

.nav_menu {
    background: #fff;
    -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.13);
    box-shadow: 0 0 11px rgba(0,0,0,0.13);
}

.x_panel {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
}

.btn-filter, #filter-type, .select-supporter-id, .select-customer-id {
    margin-bottom: 10px !important;
}

#search-form {
    margin-bottom: 20px;
}

.overview-calculate-contain {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2px;
    margin-bottom: 10px;
}

h3.detail-title {
    color: #ffffff;
}

.detail-box {
    max-height: 300px;
}

.transport-order-receiver-info {
    width: 135px;
}

table.dataTable tbody tr.highlight {
    background-color: #404d67 !important;
    height: 200px;
}

.detail-box h4 {
    color: #ffffff;
}

#detail-link-qty-modal .modal-header .close, #payment-debt-modal .modal-header .close {
    margin-top: -23px;
}

#detail-link-qty-modal table, #detail-link-qty-modal thead th {
    text-align: center;
}

#detail-link-qty-modal table.table tr th {
    background-color: #404d66;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 12px;
    border-right: 1px solid #fff;
}

#detail-link-qty-modal table.table {
    border: 1px solid #dddddd;
    border-top: 0px;
}

#transport-orders-table {
    width: 100%;
}

.highlight .detail-box div.col-lg-12 {
    max-height: 400px;
    overflow: auto;
}
#orders_wrapper .row.btn-table,
#transport-orders-table_wrapper .row.btn-table,
#users_wrapper .row.btn-table,
#customer-table_wrapper .row.btn-table{
    display: none;
}

#view-detail-orders .modal-body, #view-detail-transactions .modal-body {
    overflow-y: auto;
    max-height: 400px;
}